/** @format */
* {
  margin: 0px;
}

/* nav {
  height: 60px;
  background-color: black;
  display: flex;
  width: 100%;
}

nav section {
  background-color: aqua;
  width: 50%;
  height: 60px;
}

nav div {
  background-color: blueviolet;
  width: 50%;
  height: 60px;
} */


nav{

}
